@import 'variables';
@import 'media-screen-320-600';
@import 'media-screen-600-1200';



//first section with company name and search bar//
header {
    width: 100%;
    height: 50vh;
    background-image: url("../images/Bg-pic-1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: rgb(123, 112, 204);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


    h1 {
        font-family: $fontjosefin;
        color: white;
        font-size: $josefin48;
    }

    p {
        font-family: $fontjosefin;
        color: white;
        font-size: $josefin16;
    }


.formcontainer {
    display: flex;
}

form {
    display: flex;
    flex-direction: row;
}

.inputtext {
    width: 50vh;
    font-family: $fontaleo;
    font-size: $aleo14;
}

.input {
    width: 100%;
    height: 41px;
    float: left;
    border: 10px solid white;
}

input:focus {
    background-color: orange;

}

.searchbtn{
    width: 153px;
    background-color: #5474FD;
    border: 10px solid white;
    margin-left: -6px;
    text-align: center;
    color: white;
    height: 63px;
}
.searchbtn:hover {
    color: orange;
    cursor: pointer;
    
}
.searchbtn:visited {
   border: 2px solid white;
   text-decoration: none;
}

a:hover {
    color: orange;
    cursor: pointer;   
}

.scroll {
    font-family: $fontjosefin;
    font-size: $josefin16;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}
//second section with navigation menu//

.topnav {
    overflow: hidden;
    background-color: blue;
    width: 100%;    
  }
  
   
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: $fontaleo;
    font-size: 18px;
  }
  
  .topnav a:hover {
        cursor: pointer;
        color: orange;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  



//second section with navigation menu//

// .topnav {
//     width: 100%;
//     height: 6vh;
//     background-color: #5474FD;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

// .nav {
//     width: 100%;
//     height: 6vh;
//     overflow: hidden;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     gap: 25px;
//     margin-right: 25px;
//     list-style: none;
//     font-family: $fontaleo;
//     font-size: $aleo14;


//     a {
//         color: white;
//         text-decoration: none;
//         float: left;
//         display: block;
//     }


//     a:hover {
//         cursor: pointer;
//         color: orange;
//     }

   
// }

.nav .icon {
    display: none;
}

//footer

.footer {
    width: 100%;
    height: 268px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;

    .headlinefooter {
        font-family: $fontjosefin;
        font-size: $josefin24;
        font-weight: bold;
        text-decoration: none;
    }
    .textfooter {
        font-family: $fontjosefin;
        font-size: $josefin16;
    }
    a {
        color: white;
        text-decoration: none;
        float: left;
        display: block;
    }


    a:hover {
        cursor: pointer;
        color: orange;
    }
    
    }
