@media screen and (min-width: 600px) and  (max-width: 1200px) {
  .first-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
  }

  .image-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1%;
    gap: 15px;


    .img1 {
      margin: auto;
      object-fit: contain;
      width: 380px;
    }

    .img2 {
      margin: auto;
      object-fit: contain;
      width: 380px;
    }
  }

  .first-text {
    max-width: 420px;
  }

  .first-headline {
    font-size: 25px;
    text-align: center;
  }
   //third section with thumbs up
   .second-container { //why does the shape background pic still show when I have removed it?
    background-color: #333333;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    

    .symbols {
      //Cant get the symbols and text to change size in media screen. Have tried changing img size.
      max-width: 600px;
      display: flex;
      justify-content: space-evenly;
    }

    .symbol-text {
   text-align: center;
      max-width: 600px;
    }

    .secondcontainer-text {
      font-size: $aleo24;

    }

    .magnyfying .checkbox .thumbsup {
      max-width: 60px;
    }
  }

  .third-container {
    max-width: 100%;
    height: 75%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .grid-container1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card {
      width: 440px;
      height: 40vh;
      padding: 20px;
      text-align: left;
      background-color: #333333;
      opacity: 0.9;
      overflow: auto;
    }

    p {
      font-family: $fontjosefin;
      font-size: $josefin16;
    }

    h4 {
      font-family: $fontjosefin;
      font-size: $josefin20;
    }

  }
.fourth-container {
        max-width: 100%;
        height: 75%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .grid-container2 {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
    
        }
    
        .card2 {
          width: 440px;
          height: 40vh;
          padding: 20px;
          text-align: left;
          background-color: #333333;
          opacity: 0.9;
          overflow: auto;
        }
    
        p {
          font-family: $fontjosefin;
          font-size: $josefin16;
        }
    
        h4 {
          font-family: $fontjosefin;
          font-size: $josefin20;
        }
    
      }

}