$fontaleo: "Aleo", serif;
$aleo14: 14px;
$aleo16: 16px;
$aleo36: 36px;
$aleo24: 24px;
$fontjosefin: "Josefin Sans", sans-serif;
$josefin14: 14px;
$josefin16: 16px;
$josefin20: 20px;
$josefin24: 24px;
$josefin26: 26px;
$josefin48: 48px;